/* color palette from <https://github.com/vuejs/theme> */

@font-face {
    font-family: "JacquesFrancois-Regular";
    src: local("JacquesFrancois-Regular"), url(../assets/JacquesFrancois-Regular.ttf) format("truetype");
}

:root {
    --vt-c-blue: rgb(4, 2, 143);
    --vt-c-blue-soft: rgb(53, 44, 181);
    --vt-c-blue-mute: rgba(10, 10, 255, 0.979);
    --vt-c-black: rgb(24, 24, 24);
    --vt-c-black-soft: rgb(34, 34, 34);
    --vt-c-black-mute: rgb(40, 40, 40);
    --vt-c-indigo: rgb(44, 62, 80);
    --vt-c-divider-light-1: rgba(27, 218, 243, 0.29);
    --vt-c-divider-light-2: rgba(92, 227, 245, 0.12);
    --vt-c-divider-dark-1: rgba(84, 195, 215, 0.65);
    --vt-c-divider-dark-2: rgba(137, 244, 242, 0.48);
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(95, 95, 95, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(248, 237, 237, 0.64);
}

.h1__big {
    font-size: 3rem;
}

.h1__large {
    font-size: 2rem;
}


/* semantic color variables for this project */

:root {
    --color-background: var(--vt-c-blue);
    --color-background-soft: var(--vt-c-blue-soft);
    --color-background-mute: var(--vt-c-blue-mute);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --section-gap: 160px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    font-weight: 800;
    font-family: 'JacquesFrancois-Regular';
    color: rgb(5, 40, 46);
}
